@charset "utf-8";

.card-img-top {
    height: 100px;
    object-fit: cover;
}

.my-name-image {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 80px;
}

.alternate-img {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    border-radius: 50%;
    font-size: 20px;
}
.my-name {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.w-33 {
    width: calc(100% / 3);
    
}